Source: obconf
Section: x11
Priority: optional
Maintainer: Openbox Maintainers <pkg-openbox@modprobe.de>
Uploaders: Nico Golde <nion@debian.org>, Anibal Avelar (Fixxxer) <aavelar@cofradia.org>
Build-Depends: debhelper (>= 5), autotools-dev, gettext, libobrender15, libobparser15, openbox-dev, libstartup-notification0-dev, libgtk2.0-dev, libglade2-dev, perl, libsm-dev
Standards-Version: 3.7.2

Package: obconf
Architecture: any
Depends: ${shlibs:Depends}
Description: Preferences manager for Openbox window manager
 ObConf is a small graphical utility which configures the window manager
 Openbox' preferences and configuration settings on the fly.
 .
 If you are an Openbox user, you may want this package.
 .
  Homepage http://icculus.org/openbox/index.php/ObConf:About
