Source: obconf
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 4.1.45), gettext, openbox (>= 3.0), libstartup-notification0-dev, libgtk2.0-dev, libglade2-dev, perl, libsm-dev
Standards-Version: 3.6.1

Package: obconf
Architecture: any
Depends: ${shlibs:Depends}
Enhances: openbox (>= 3.0)
Description: Preferences manager for Openbox
 ObConf is a small graphical utility which configures the window manager
 Openbox' preferences and configuration settings on the fly.
 .
 If you're an Openbox user, you want this package.
