Source: obconf
Section: x11
Priority: optional
Maintainer: Mateusz Łukasik <mati75@linuxmint.pl>
Build-Depends:
 debhelper-compat (= 13), autopoint, gettext, libgtk-3-dev,
 libimlib2-dev, libsm-dev, libstartup-notification0-dev,
 libcairo2-dev, openbox-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/danakj/obconf
Vcs-Browser: https://github.com/mati75/obconf-debian.git
Vcs-Git: https://github.com/mati75/obconf-debian.git

Package: obconf
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: openbox
Description: preferences manager for Openbox window manager
 ObConf is a small graphical utility which configures the window manager
 Openbox' preferences and configuration settings on the fly.
 .
 If you are an Openbox user, you may want this package.
